@font-face {
    font-family: “CenturyGothic”;
    src: url('./font/Century\ Gothic.ttf') format('woff'), url('./src/assets/font/CenturyGothic.ttf') format('truetype');

    font-family: 'Qwigley';
    src: url('./src/assets/font/Qwigley-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body {
    background-color: #F2E6D5;
    margin: 0px;
    padding: 0px;
}

/* estilos de la seccion de inicio */
.inicio {
    margin: 50px auto;
    max-width: 800px;
    background-color: #FCEAE6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.principal-title {
    font-family: 'Qwigley', cursive;
    font-size: 4em;
    text-align: center;
    color: #8B0000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #8B0000;
    border-top: 3px solid #8B0000;
}

.presentacion {
    display: flex;
}

.descripcion-txt {
    color: #A97F8B;
    font-family: 'Century Gothic', sans-serif;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 400px;
}

@media only screen and (max-width: 768px) {
    .descripcion-txt {
        width: 40%;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
    }
}

@media only screen and (max-width: 480px) {
    .descripcion-txt {
        font-size: 10px;
        width: 40%;
    }
}

/* estilos de la carta de presentacion */
.presentacion-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 400px;
}

/* Estilos para el boton */
.btn-container{
    display: flex;
    justify-content: center;
}
.realizar-pedido {
    display: inline-block;
    margin: 0 auto;
    background-color: #d69e7c;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.realizar-pedido:hover {
    background-color: #9c5645;
}

.realizar-pedido:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Estilos para el pie de página */
footer {
    background-color: linear-gradient(to right, #F4C6C6, #F2CBC5, #F4D4C2, #F4D8C0);
    padding: 20px;
    color: linear-gradient(220.55deg, #565656 0%, #181818 100%);
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #f7e7ce;
}