.gallery{
    display: flex;
    height: 180px;
    width: 100%;
    padding-top: 2%;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px 100px 100px;
}
.gallery-item {
    margin: 20px;
    justify-content: center;
  }

.gallery-item img{
    margin: 20px;
    border-radius: 50px;
    width: 100px;
    height: 80px;
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
    
}

.gallery-item:hover img{
  cursor: crosshair;
  width: 100px;
  opacity: 1;
  transform: scale(1.5);
  filter: contrast(120%); 
}


  .gallery-item-overlay {
    text-align: center;
    transform: translateY(-40px);
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item:hover .gallery-item-overlay {
    transform: translateY(20%);
  }

  h3{
    font-family: 'Lobster', cursive;
  }